# PORTA DO SERVIDOR (Easypanel fornecerá isso automaticamente, ou você pode fixar para testes locais)
PORT=3000

# SUA CHAVE JWT DE SUPREME SEGURANÇA QUE OS HACKERS NUNCA DEVEM VER:
JWT_SECRET=super_secret_editlabpro_felipe_key_2026_@_!

# LINKS DO SEU SUPABASE:
# (Pegar em Project Settings > API)
SUPABASE_URL=https://rposggtfnmqorgjtzpdw.supabase.co

# IMPORTANTE: No lugar da sua chave PUBLICA (aquela terminada em BAA78Iim8), 
# Aqui você vai colar a sua chave SERVICE_ROLE KEY SECRETA, pois ela funciona como um GOD MODE do banco de dados,
# O que permite a API fazer LOGIN e criar usuários sem ser bloqueado pelos CAPTCHAS de segurança da tela!
SUPABASE_SERVICE_ROLE_KEY=cole-sua-chave-secreta-service-role-aqui
